/* button.css */
body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

button {
    position: fixed;
    padding: 2vmin;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vmin;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 3vmin;
    cursor: pointer;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%);
}

button:hover {
    color: white;
    background: rgba(20, 150, 20, 0.8);
}

#start, #returnButton {
    transform: translate(-50%);
}

#quit {
    top: 1%;
}

#uh, #niceStart, #meanStart, #sorry, #meanAgain, #niceAgain, #meanEnd, #return {
    border-radius: 0;
    width: 90%;
}